body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}

button, textarea {
  font-size: 14px;
}

* {
  outline: none;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html{
  background-image: url('./assets/background.jpg');
  background-position: 50%;
  background-size: cover;
  background-repeat: repeat;
  padding: 20px;
}

body, html, .app, #root {
  height: 100%;
}
